
{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div class="section main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 ">
          <div id="map-canvas"></div>
      </div>
      <div>
      <div class="col-lg-3">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Hotel</h4>
              <select name="select">
                <option selected disabled>Select Hotel</option>
                {% for hotel in templateHotels %}
                <option value="{{ hotel.name }}">{{ hotel.name }}</option>
                {% endfor %}
              </select>
              <h4>Restaurant</h4>
              <select name="select">
                <option selected disabled>Select Restaurant</option>
                {% for restaurant in templateRestaurants %}
                <option value="{{ restaurant.name }}">{{ restaurant.name }}</option>
                {% endfor %}
              </select>
              <h4>Activity</h4>
              <select name="select">
                <option selected disabled>Select Activity</option>
                {% for activity in templateActivities %}
                <option value="{{ activity.name }}">{{ activity.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">My Hotel</div>
            <div class="panel-body">
              <h4>My Hotel</h4>
              <div class="row">
                <div class="col-lg-10 ">
                    <p>Trump Tower (don't hate me)</p>
                </div>
                <div class="col-lg-2 ">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </div>
              </div>
              <h4>My Restaurants</h4>
              <div class="row">
                <div class="col-lg-10 ">
                    <p>Found Gum on The Floor Place</p>
                </div>
                <div class="col-lg-2 ">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10 ">
                    <p>My Nasty Kitchen</p>
                </div>
                <div class="col-lg-2 ">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </div>
              </div>
              <h4>My Activties</h4>
              <div class="row">
                <div class="col-lg-10 ">
                    <p>Sleeping</p>
                </div>
                <div class="col-lg-2 ">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10 ">
                    <p>Drinking large amounts of whiskey</p>
                </div>
                <div class="col-lg-2 ">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}




<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <select name="select">
      <option selected disabled>Select Hotel</option>
      {% for hotel in templateHotels %}
      <option value="{{ hotel.name }}">{{ hotel.name }}</option>
      {% endfor %}
    </select>
    <select name="select">
      <option selected disabled>Select Restaurant</option>
      {% for restaurant in templateRestaurants %}
      <option value="{{ restaurant.name }}">{{ restaurant.name }}</option>
      {% endfor %}
    </select>
    <select name="select">
      <option selected disabled>Select Activity</option>
      {% for activity in templateActivities %}
      <option value="{{ activity.name }}">{{ activity.name }}</option>
      {% endfor %}
    </select>
  </body>
</html> -->
