 {% extends 'layout.html' %} {% block title %}Your Trip{% endblock %} {% block content %}

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <div class="col-lg-12 ">
        <div class="container-fluid">
          <div class="row" id="blackbox"> &nbsp;</div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <h5>Hotel</h5>
                <select name="hotel" id="hotel-choices" class="form-control">
                    <option selected disabled>Select Hotel</option>
                </select>
                <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
                <h5>Restaurant</h5>
                <select name="restaurant" id="restaurant-choices" class="form-control">
                    <option selected disabled>Select Restaurant</option>
                </select>
                <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
                <h5>Activity</h5>
                <select name="activity" id="activity-choices" class="form-control">
                    <option selected disabled>Select Activity</option>
                </select>
                <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Day:  &nbsp;
                      <button type="button" class="btn btn-success btn-circle">1</button>
                      <button type="button" class="btn btn-primary btn-circle">2</button>
                      <button type="button" class="btn btn-primary btn-circle">3</button>
                      <button type="button" class="btn btn-primary btn-circle">4</button>
                      <button type="button" class="btn btn-info btn-circle">+</button>
                    </h4>
              </div>

              <div class="panel-body">
                <h5>My Hotel</h5>
                <div class="row" id="hotel-itinerary">
                  <div class="col-lg-10 col-md-10 col-ms-10 col-xs-10">

                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                </div>
                <h5>My Restaurants</h5>
                <div class="row" id="rest-itinerary">
                  <div class="col-lg-10 col-md-10 col-ms-10 col-xs-10">
                    <!--<p>Terrible Restaurant </p>-->
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-ms-10 col-xs-10">
                    <!--<p>My Nasty Kitchen</p>-->
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                </div>
                <h5>My Activities</h5>
                <div class="row" id="act-itinerary">
                  <div class="col-lg-10 col-md-10 col-ms-10 col-xs-10">
                    <p>Sleeping</p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-ms-10 col-xs-10">
                    <p>Drinking large amounts of whiskey</p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <!-- Main Page -->
  <div id="page-content-wrapper">
    <div class="section main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="map-canvas"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
