.main {
  padding-top: 50px; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: white; }

#map-canvas {
  height: 94vh;
  width: 100%;
  margin-top: 1px; }

.bg {
  background-color: #ccc; }

select {
  width: 250px; }

.col-lg-9, .col-md-9, .col-lg-9, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

.bgcolor {
  background-color: #ccc; }
